*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 1200px;
  min-block-size: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button,
input {
  font: inherit;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: 'result details';
  gap: 30px;
  align-items: end;
  inline-size: 1140px;
  block-size: 534px;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  background-color: #545050;
}

.result__video {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  align-items: start;
  inline-size: 711px;
  block-size: 54px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield) {
  cursor: text;
}

.search-form__label:has(.search-form__checkbox) {
  gap: 5px;
}

.search-form__label:has(.search-form__checkbox):hover
  .search-form__label-text {
  text-decoration: underline;
  text-underline-position: under;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  border: none;
  border-block: 1px solid #fff;
  padding: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
  opacity: 1;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: none;
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.button {
  border: 1px solid currentColor;
  padding: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
  block-size: 34px;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 399px;
  block-size: 534px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.9333;
  text-transform: uppercase;
  flex-shrink: 0;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-shrink: 0;
  inline-size: 399px;
  block-size: 298px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-inline: 2px 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 6px;
  min-inline-size: 0;
  block-size: 103px;
}

.content__video-card-title {
  overflow: hidden;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  line-height: 0.9;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  flex-shrink: 0;
  inline-size: 390px;
  block-size: 34px;
  margin-inline: 2px 7px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}



.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
